<%- contentFor('body')%>
<h2 style="color:meroon; "><center><%= title%></center></h2>
<div class="container">
  <h2>Button Tags</h2>
  <a href="admin/login" class="btn btn-info" role="button">Link Button</a>
  <button type="button" class="btn btn-info" onClick="redirect()">Login</button>
</div>